
.h1{
    color:blue;
}

.p{
    color:red;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.header2 {
  padding: 30px;
  text-align: justify;
  background: white;
}

h2 {
   text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}